<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>FuzzyCoffee - Productos</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <nav>
        <img src="../img/logo.png" alt="FuzzyCoffee Logo" class="logo">
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="productos.html" class="activo">Productos</a></li>
            <li><a href="presupuesto.html">Presupuesto</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>

    <main>
        <h1>Nuestros Cafés</h1>
        <div class="galeria">
            <figure>
                <img src="../img/cafe1.jpeg" alt="Espresso Intenso" class="imagen-galeria">
                <figcaption>Espresso Intenso</figcaption>
            </figure>
            <figure>
                <img src="../img/cafe2.jpeg" alt="Cappuccino Suave" class="imagen-galeria">
                <figcaption>Cappuccino Suave</figcaption>
            </figure>
            <figure>
                <img src="../img/cafe3.jpeg" alt="Latte de Vainilla" class="imagen-galeria">
                <figcaption>Latte de Vainilla</figcaption>
            </figure>
            <figure>
                <img src="../img/cafe4.jpeg" alt="Moka Especial" class="imagen-galeria">
                <figcaption>Moka Especial</figcaption>
            </figure>
            <figure>
                <img src="../img/cafe5.jpeg" alt="Café Americano" class="imagen-galeria">
                <figcaption>Café Americano</figcaption>
            </figure>
            <figure>
                <img src="../img/cafe6.jpeg" alt="Frappé de Caramelo" class="imagen-galeria">
                <figcaption>Frappé de Caramelo</figcaption>
            </figure>
        </div>
    </main>

    <footer>
    <p>Dirección: Avenida del Café 13, Madrid</p>
    <p>Horario: Lunes a Viernes 8:00–20:00 | Sábado y Domingo 9:00–14:00</p>
    <div class="redes-sociales">
        <a href="https://www.facebook.com" target="_blank">
            <img src="../img/facebook.png" alt="Facebook" width="30" height="30">
        </a>
        <a href="https://www.twitter.com" target="_blank">
            <img src="../img/twitter.png" alt="Twitter" width="30" height="30">
        </a>
        <a href="https://www.instagram.com" target="_blank">
            <img src="../img/instagram.jpg" alt="Instagram" width="30" height="30">
        </a>
    </div>
    <p><a href="../aviso-legal.html">Aviso legal</a></p>
</footer>

</body>
</html>
